site_name: Pypaystack2
site_description: A developer friendly wrapper for Paystack API
site_author: Gbenga Adeyi
site_url: https://github.com/gray-adeyi/pypaystack2

theme:
  name: "material"
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: paystack
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: blue
      accent: deep blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.copy
    - content.code.select
  icon:
    repo: fontawesome/brands/github-alt
  logo: assets/pypaystack2.svg
  favicon: assets/pypaystack2.svg
  language: en
repo_name: gray-adeyi/pypaystack2
repo_url: https://github.com/gray-adeyi/pypaystack2

plugins:
  - mike:
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: latest
      version_selector: true
      css_dir: css
      javascript_dir: js
  - search
  - mkdocstrings
  - glightbox

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gray-adeyi/pypaystack2

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables


nav:
  - PyPaystack2: index.md
  - Tutorials:
      - Paystack Command line Client: tutorials/tutorial-00.md
  - "How-To Guides": how-to-guides.md
  - Reference:
      - Introduction: reference/index.md
      - reference/apple_pay.md
      - reference/bulk_charges.md
      - reference/charge.md
      - reference/customer.md
      - reference/dedicated_accounts.md
      - reference/disputes.md
      - reference/integration.md
      - reference/miscellaneous.md
      - reference/payment_pages.md
      - reference/payment_requests.md
      - reference/plans.md
      - reference/products.md
      - reference/refunds.md
      - reference/settlements.md
      - reference/splits.md
      - reference/subaccounts.md
      - reference/subscriptions.md
      - reference/terminals.md
      - reference/transactions.md
      - reference/transfer_recipients.md
      - reference/transfers.md
      - reference/transfers_control.md
      - reference/verification.md
  - Explanation: explanation.md

extra_css:
  - stylesheets/extra.css
