[tool.poetry]
name = "pypaystack2"
version = "1.2.0"
description = "A developer friendly [Paystack](https://paystack.com/) API wrapper."
authors = ["Gbenga Adeyi <adeyigbenga005@gmail.com>"]
readme = "README.md"
packages = [{ include = "pypaystack2" }]
keywords = ["paystack-python", "pypaystack", "paystack"]
license = "MIT"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]

[tool.poetry.dependencies]
python = "^3.7"
httpx = "^0.24.0"

[tool.poetry.group.dev.dependencies]
python-dotenv = "^0.21.0"
mkdocs = "^1.4.2"
mkdocs-material = "^8.5.11"
typer = "^0.7.0"
mkdocstrings = { version = "^0.19.1", extras = ["python"], optional = true }
pytest = "^7.2.0"
black = "^22.12.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
