[project]
name = "pypaystack2"
version = "2.1.0"
description = "A developer-friendly client library for Paystack"
readme = "README.md"
license = "MIT"
authors = [
    { name = "Gbenga Adeyi", email = "adeyigbenga005@gmail.com" }
]
keywords = ["paystack-python", "pypaystack", "paystack", "paystackapi"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]

dependencies = [
    "httpx>=0.27.0",
]
requires-python = ">= 3.9"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "python-dotenv>=1.0.1",
    "mkdocs>=1.5.3",
    "mkdocs-material>=9.5.15",
    "typer>=0.9.0",
    "mkdocstrings[python]>=0.24.1",
    "pytest>=8.1.1",
    "tomli>=2.0.1",
]
[tool.rye.scripts]
docs = "mkdocs serve"
docs-build = "mkdocs build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/pypaystack2"]
