::: pypaystack2.sub_clients.sync_clients.verification
::: pypaystack2.sub_clients.async_clients.verification
