name: Generate [version] documentation

on:
  release:
    types: [ published ]

jobs:
  build:
    name: Deploy docs to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --group doc
      - name: Setup doc deploy
        run: |
          git config --global user.name "Docs deploy"
          git config --global user.email docs@dummy.bot.com
      - name: Set release notes tag
        run: |
          VERSION_TAG="v$(echo "${{ github.event.release.tag_name }}" | sed 's/^v//' | awk -F. '{print $1"."$2}')"
          echo VERSION_TAG="${VERSION_TAG}" >> "$GITHUB_ENV"
      - name: Build docs website
        run: uv run mike deploy "$VERSION_TAG" --push
